html {
  width: 100%;
  height: 100%;
  background: url(../Img/fondo.jpg) center center no-repeat;
  background-size: 110%; 
}

body {
    margin: 0;
    height: 100vh;
  }

  .box {
    text-align: center;
  }

  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 8rem auto;
    max-height: 60vh;
    max-width: 60vh;
  }

   
  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    background: #1db6c4;
    color: #000000;
  }

  .celeste.light {
    background: #7ed6df;
  }

  .violeta {
    background: #cf24a5;
  }

  .violeta.light {
    background: #e056fd;
  }

  .naranja {
    background: #f7921f;
  }

  .naranja.light {
    background: #ffbe76;
  }

  .verde {
    background: #58bd2d;
  }

  .verde.light {
    background: #badc58;
  }

  .btn-start {
    width: 400px;
    height: 100px;
    background: #a1fffa;
    border-color: #000000;
    color: #000000;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
  }

  .hide {
    display: none;
  }

  .header{

    background-color: #000000;
    margin-bottom: 50px;

}

.header > ul{
  margin: 0;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}

.header ul li{
  list-style: none;
  color: white;
  font-size: 1.75em;
}

.footer {
  margin: 3rem;
  text-align: center;
}

.footer2{
  margin: 3rem;
  background: #000000;
  color: white;
}

  * {
    font-family: Arial;
  }